<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Roma</title>
    <link rel="stylesheet" type="text/css" href="/index.css">

  <style>
  .logged_in {
    <% if @username != 'none' %> 
    visibility: visible;
    <% else %>
    visibility: hidden;
    <% end %>
  }
  .logged_out {
    <% if @username == 'none' %> 
    visibility: visible;
    <% else %>
    visibility: hidden;
    <% end %>
  }
  </style>
</head>

<body>

<h1> Welcome to ROMA BnB </h1>
Current user: <%= @username %>

<a href="/logout" class="logged_in">Logout</a>

<div style='border: 3px solid red'>
  <a href="/login/host" class="logged_out"> Login as Host </a> 
  <a href="/signup/host" class="logged_out"> Like to sign up as Host?</a>
</div>

<div style="border: 3px solid blue;">
<a href="/login/guest" class="logged_out"> Login as Guest </a>
<a href="/signup/guest" class="logged_out"> Like to sign up as Guest? </a> 
</div>


<<h3> Available Spaces </h3>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th>Description</th>
    <th>Prices-per-Night</th>
    <th>Host Name</th>
    <th>Book</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td> <%= space.name %> </td>
    <td> <%= space.bedrooms %> </td>
    <td> <%= space.description %> </td>
    <td> <%= space.prices_per_night%> </td>
    <td> <%= space.hostname%> </td>
    <td> <form method="post" action=<%= "/booking" %>>
      <input type="hidden" name="id" value=<%= space.id %>>
      <input type="submit" name=<%= "#{space.name}_button" %> value="Make a booking">
     </form> </td>
  </tr>
  <% end %>
</table>
                            
</body>

</html>
