<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Roma</title>
  <link rel="stylesheet" type="text/css" href="/index.css">

  <style>
  .logged_in {
    <% if @username != 'none' %> 
    visibility: visible;
    <% else %>
    visibility: hidden;
    <% end %>
  }
  .logged_out {
    <% if @username == 'none' %> 
    visibility: visible;
    <% else %>
    visibility: hidden;
    <% end %>
  }

  #white_box {
    background-color:rgba(255,255,255,0.85);
    margin: auto;
    width: 70%;
    padding: 15px;
    border-radius: 10px;
  }
  </style>
</head>

<body>

<div id="white_box">
<h1> Welcome to ROMA BnB </h1>
Current user: <%= @username %>

<br><a href="/logout" class="logged_in">Logout</a>

<div style='border: 3px solid red'>
  <a href="/login/host" class="logged_out"> Login as Host </a> 
  <br><a href="/signup/host" class="logged_out"> Like to sign up as Host?</a>
</div>

<div style="border: 3px solid blue;">
  <a href="/login/guest" class="logged_out"> Login as Guest </a>
  <br><a href="/signup/guest" class="logged_out"> Like to sign up as Guest? </a> 
</div>

<a href="/host/spaces">Add a space</a><br>

<h3> Available Spaces </h3>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th>Description</th>
    <th>Prices-per-Night</th>
    <th>Host Name</th>
    <th>Book</th>
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td> <%= space.name %> </td>
    <td> <%= space.bedrooms %> </td>
    <td> <%= space.description %> </td>
    <td> <%= space.prices_per_night%> </td>
    <td> <%= space.hostname%> </td>
    <td> <form method="post" action=<%= "/booking/post" %>>
      <input type="hidden" name="id" value=<%= space.id %>>
      <input type="submit" name=<%= "#{space.name}_button" %> value="Book">
     </form> </td>
  </tr>
  <% end %>
</table>

</div>                  
</body>

</html>
