<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roma BnB</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>

<h1> Welcome to ROMA BnB! </h1>
current user: <%= @username %>
<% if @username != 'none' %>
  <a href="/logout">Logout</a>
<% else %>

  <h2> Existing user? </h2>
  <form  action="/spaces" method = "post">
    <label for="username"> Username: </label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd">
    <input type="submit" value="Submit">
  </form>

  <a href="/signup">New User?</a>

<% end %>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th>Description</th>
    <th>Prices-per-Night </th>
    <th> Host Name </th> 
  </tr>
  <% @spaces.each do |space| %>
  <tr>
    <td> <%= space.name %> </td>
    <td> <%= space.bedrooms %> </td>
    <td> <%= space.description %> </td>
    <td> <%= space.prices_per_night%> </td>
    <td> <%= space.hostname%> </td>
  </tr>
  <% end %>
</table>




                                    
</body>
</html>
