<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roma</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">

  <style>
  .logged_in {
    <% if @username != 'none' %> 
    visibility: visible;
    <% else %>
    visibility: hidden;
    <% end %>
  }
  .logged_out {
    <% if @username == 'none' %> 
    visibility: visible;
    <% else %>
    visibility: hidden;
    <% end %>
  }
  </style>

</head>
<body>
<h1> Welcome to ROMA BnB </h1>
Current user: <%= @username %><br>
<a href="/logout" class="logged_in">Logout</a><br>
<a href="/signup" class="logged_out">Sign up</a><br>
<a href="/login" class="logged_out">Login</a><br>
<br>

# Fill out this form to add a new space
<form action="/add" method="post">
  Name: <input type="text" name="name">
  Bedrooms: <input type="text" name="bedrooms">
  <input type="submit" value="enter">
</form>

<% @spaces.each do |space| %>
    <li>
      name: <%= space.name %>, bedroom: <%= space.bedrooms %>, host: <%= space.hostname %>, id: <%= space.id %>
      <form action="/tbc" method="post">
      <input type="hidden" name="name" value=<%= space.name %>>
      <input type="hidden" name="bedrooms" value=<%= space.bedrooms %>>
      <input type="hidden" name="hostname" value=<%= space.hostname %>>
      <input type="hidden" name="id" value=<%= space.id %>>
      <input type="submit" value="Make a booking">
</form>
    </li>
<% end %>
                                    
</body>
</html>
