
<h1> Welcome <%= @username%> </h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th>Description</th>
    <th>Prices-per-Night <th>
  </tr>
  <% @spaces.each do |space| %>
    <% if space.hostname == @username %>
      <tr>
        <td> <%= space.name %> </td>
        <td> <%= space.bedrooms %> </td>
        <td> <%= space.description %> </td>
        <td> <%= space.prices_per_night%> </td>
      </tr>
    <% end %>
  <% end %>
  
</table>

